{% extends "base.html" %}

{% block titulo %}
Campañas
{% endblock titulo %}

{% block breadcrumb %}
	<ol class="breadcrumb my-4">
		<li class="breadcrumb-item active"><h1>Campañas</h1></li>
	</ol>
{% endblock %}

{% block content %}


	<table class="table mb-0">
		<thead>
			<tr>
				<th>Nombre</th>
			</tr>
		</thead>
		<tbody>
			{% for campaña in campañas %}
			<tr>
				<td>{{campaña.nombre}}</td>
				<td><a href="{{campaña.id}}" class="btn btn-info btn-sm">Analizar</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock content %}