{% extends "base.html" %}

{% block titulo %}
{{campaña_nombre}}
{% endblock titulo %}

{% block breadcrumb %}
	<ol class="breadcrumb my-4 bg-dark">
		
			<li class="breadcrumb-item"><a href="{% url 'campañas' %}">Campañas</a></li>
			<li class="breadcrumb-item active">{{campaña_nombre}}</li>
		
	</ol>
{% endblock %}

{% block content %}
	
	<a href="/campañas/{{campaña_id}}/crear" class="btn btn-primary btn-sm">Nuevo analisis</a>
	
	<table class="table mb-0">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Funciones</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for analisis_item in analisis %}
			<tr>
				<td>{{analisis_item.created}}</td>
				<td>{{analisis_item.getFunciones}}</td>
				<td><a href="{{analisis_item.id}}" class="btn btn-info btn-sm">Analisis</a></td>
				<td>
					<form method="post" action="{{analisis_item.id}}/borrar">
						{% csrf_token %}
						<button type="submit" class="btn btn-danger btn-sm" style='border-radius: 20px;'>Borrar</button>
					</form>
				</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="7" class="text-center bg-warning">Sin analisis</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<button type='button' class='btn btn-primary btn-large btn-skip text-right' onclick="window.history.back()">Cancelar</button>
{% endblock content %}