{% extends "base.html" %}

{% block titulo %}
Analisis
{% endblock titulo %}

{% block breadcrumb %}
	<ol class="breadcrumb my-4 bg-dark">
		
			<li class="breadcrumb-item"><a href="{% url 'campañas' %}">Campañas</a></li>
			<li class="breadcrumb-item"><a href="/campañas/{{campaña.pk}}">{{campaña.nombre}}</a></li>
			<li class="breadcrumb-item active">{{campaña_funcion.created}}</li>
		
	</ol>
{% endblock %}

{% block javascript %}
<script>
	$(document).ready(function() {
		$('#id_tabla').DataTable();
	});
	
</script>
{% endblock javascript %}
{% block content %}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<div>
	<table id="id_tabla" class="table table-striped table-bordered" style="width:100%">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Agente</th>
				<th>Funcion</th>
				<th>Ponderacion</th>
				<th>Transcripción</th>
			</tr>
		</thead>
		<tbody>
			{% for campaña_fa in campaña_funcion_analisis %}
			<tr>
				<td>{{campaña_fa.fk_audio}}</td>
				<td>{{campaña_fa.fk_audio.agente.nombre}}</td>
				<td>{{campaña_fa.fk_funcion}}</td>
				<td>{{campaña_fa.analisis}}</td>
				<td><a href="{{campaña_fa.fk_audio.id}}" class="btn btn-info btn-sm">Transcripción a Texto</a></td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="7" class="text-center bg-warning">Sin analisis</td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th>Nombre</th>
				<th>Agente</th>
				<th>Funcion</th>
				<th>Ponderacion</th>
			</tr>
		</tfoot>
	</table>
	<button type='button' class='btn btn-primary btn-large btn-skip text-right' onclick="window.history.back()">Cancelar</button>
	</div>
{% endblock content %}