{% extends "base.html" %}
{%  load static %}

{% block titulo %}
Campañas
{% endblock titulo %}

{% block javascript %}
<script>
	$(function () {
		$(document).ready(function() {
			$('#id_tabla').DataTable( {
        		"language": {
            		"url": "{% static '/json/Spanish.json ' %}"
        		}
    		} );
		});
	});
</script>
{% endblock javascript %}

{% block breadcrumb %}
	<ol class="breadcrumb my-4 bg-dark">
		<li class="breadcrumb-item text-white">Campañas</li>
	</ol>
{% endblock %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.min.css' %}" />
	<script src="{% static '/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static '/js/dataTables.bootstrap4.min.js' %}"></script>
	<table id="id_tabla" class="table table-striped table-bordered" style="width:100%">
		<thead>
			<tr>
				<th>Nombre</th>
				<th></ht>
			</tr>
		</thead>
		<tbody>
			{% for campaña in campañas %}
			<tr>
				<td>{{campaña.nombre}}</td>
				<td><a href="{{campaña.id}}" class="btn btn-info btn-sm">Analizar</a></td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th>Nombre</th>
				<th></ht>
			</tr>
		</tfoot>
	</table>
	<button type='button' class='btn btn-primary btn-large btn-skip text-right' onclick="window.history.back()">Cancelar</button>
{% endblock content %}