{% extends "base.html" %}

{% load widget_tweaks %}

{% block titulo %}
Crear funcion
{% endblock titulo %}

{% block breadcrumb %}
<ol class="breadcrumb my-4 bg-dark">
		<li class="breadcrumb-item"><a href="{% url 'funciones_list' %}">Funciones</a></li>
		<li class="breadcrumb-item active">Creacion</li>
	</ol>
{% endblock %}

{% block content %}
	<div>
	<form method="post" novalidate>
		{% csrf_token %}
		<button type='submit' class='btn btn-primary btn-large btn-start text-right'>Crear</button>
		<button type='button' class='btn btn-primary btn-large btn-skip text-right' onclick="location.href='{% url 'funciones_list' %}';">Salir</button>
		{% include 'includes/form.html' %}
	</form>
	</div>
{% endblock content %}