{% extends "base.html" %}

{% load widget_tweaks %}

{% block titulo %}
Detalle funcion
{% endblock titulo %}

{% block breadcrumb %}
	<ol class="breadcrumb my-4 bg-dark">
		<li class="breadcrumb-item"><a href="{% url 'funciones_list' %}">Funciones</a></li>
		<li class="breadcrumb-item active">{{funcion.nombre}}</li>
	</ol>
{% endblock %}

{% block javascript %}
<script>
	$(function () {
	
	$(document).ready(function() {
		checkBarraEstado()
	});
	
	var checkBarraEstado = function() {
		if ($('#id_ponderacion').text() == '100'){
			$('#id_barraEstado').bootstrapToggle('enable');
			if ($('#id_estado').text() == 'Habilitado') {
				$('#id_barraEstado').bootstrapToggle('on');
			} else {
				$('#id_barraEstado').bootstrapToggle('off');
			};
		} else {
			$('#id_barraEstado').bootstrapToggle('disable');
		}
	};
	
	var cambiarEstado = function () {
		var funcion = window.location.pathname.split("/").pop()
		$.ajax({
			url: '/ajax/cambiarEstado/' + funcion,
			type: 'get',
			dataType: 'json',
			success: function (data) {
				if (data.is_valid) {
					$("#id_funcionDetalle").html(data.html_funcion);
					console.log("OK")
				} else {
					console.log("Fallo")
				}
			}
		});
	};
	
	var loadForm = function () {
		var btn = $(this);
		$.ajax({
		url: btn.attr("data-url"),
		type: 'get',
		dataType: 'json',
		beforeSend: function () {
			$("#modal-palabra").modal("show");
			},
			success: function (data) {
				$("#modal-palabra .modal-content").html(data.html_form);
				
			}
		});
	};
	
	var saveForm = function () {
		var form = $(this);
		$.ajax({
			url: form.attr("action"),
			data: form.serialize(),
			type: form.attr("method"),
			dataType: 'json',
			success: function (data) {
				if (data.form_is_valid) {
					$("#tabla_palabra tbody").html(data.html_tabla_palabras);
					$("#modal-palabra").modal("hide");
					$("#id_funcionDetalle").html(data.html_funcion);
				} else {
					$("#modal-palabra .modal-content").html(data.html_form);
				}
			}
		});
		return false;
	};
	
	
	// Crear Palabra
	$(".js-crear-palabra").click(loadForm);
	$("#modal-palabra").on("submit", ".js-palabra-crear-form", saveForm);
	
	// Update Palabra
	$("#tabla_palabra").on("click", ".js-update-palabra", loadForm);
	$("#modal-palabra").on("submit", ".js-palabra-update-form", saveForm);
	
	//Borrar palabra
	$("#tabla_palabra").on("click", ".js-borrar-palabra", loadForm);
	$("#modal-palabra").on("submit", ".js-palabra-borrar-form", saveForm);
	
	// Cambiar estado de la funcion
	$('#id_barraEstado').change(cambiarEstado)
	
	});
	
</script>
{% endblock %}


{% block content %}
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	<h1>Detalle funcion</h1>
	
	<br>
	<br>
	<div>
		{% include 'includes/funcion_parcial_detalle.html' %}
		<div id='id_DIV-barraEstado'>
			<input type="checkbox" data-toggle="toggle" data-on="Habilitado" data-off="Deshabilitado" id="id_barraEstado">
		</div>
	</div>
	
	<hr>
	
	<button type="button" class="btn btn-primary js-crear-palabra" data-url='/ajax/crear_palabra/{{funcion.id}}/'>
		<span class="glyphicon glyphicon-plus"></span>
		Agregar palabra
	</button>
	
	<table class="table mb-0" id="tabla_palabra">
		<thead>
			<tr>
				<th>Palabra</th>
				<th>Porcentaje</th>
			</tr>
		</thead>
		<tbody>
			{% include 'includes/palabras_parcial_tabla.html' %}
		</tbody>
	</table>
	
	<div class="modal fade" id="modal-palabra">
		<div class="modal-dialog">
			<div class="modal-content">
			</div>
		</div>
	</div>
	
	<button type='button' class='btn btn-primary btn-large btn-skip text-right' onclick="window.history.back()">Cancelar</button>
	</div>
{% endblock content %}