{% extends "base.html" %}

{% block titulo %}
Audios
{% endblock titulo %}

{% block breadcrumb %}
	<ol class="breadcrumb my-4 bg-dark">
		<li class="breadcrumb-item active">Funciones</li>
	</ol>
{% endblock %}

{% block content %}
	<a href="{% url 'funciones_crear' %}" class="btn btn-primary btn-sm">Crear Funcion</a>

	<table class="table mb-0">
		<thead>
			<tr>
				<th>Funcion</th>
				<th>Descripcion</th>
				<th>Ver</th>
				<th>Borrar</th>
			</tr>
		</thead>
		<tbody>
			{% for funcion in funciones %}
			<tr>
				<td>{{funcion.nombre}}</td>
				<td>{{funcion.descripcion}}</td>
				<td>{{funcion.get_estado_display}}</td>
				<td><a href="{{funcion.id}}" class="btn btn-info btn-sm">Detalle</a></td>
				<td>
					<form method="post" action="{{funcion.id}}/borrar">
						{% csrf_token %}
						<button type="submit" class="btn btn-danger btn-sm" style='border-radius: 20px;'>Borrar</button>
					</form></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<button type='button' class='btn btn-primary btn-large btn-skip text-right' onclick="window.history.back()">Cancelar</button>
{% endblock content %}