{% extends "base.html" %}

{% block titulo %}
Audios
{% endblock titulo %}

{% block breadcrumb %}
	<ol class="breadcrumb my-4 bg-dark">
		<li class="breadcrumb-item text-white">Funciones</li>
	</ol>
{% endblock %}

{% block javascript %}
<script>
	$(function () {
		var loadForm = function () {
			var btn = $(this);
			$.ajax({
				url: btn.attr("data-url"),
				type: 'get',
				dataType: 'json',
				beforeSend: function () {
				$("#modal-funcion").modal("show");
				},
				success: function (data) {
				$("#modal-funcion .modal-content").html(data.html_form);
				
				}
			});
		};
		var saveForm = function () {
			var form = $(this);
			$.ajax({
				url: form.attr("action"),
				data: form.serialize(),
				type: form.attr("method"),
				dataType: 'json',
				success: function (data) {
					if (data.form_is_valid) {
						$("#tabla_funcion tbody").html(data.html_tabla_funciones);
						$("#modal-funcion").modal("hide");
					} else {
						$("#modal-funcion .modal-content").html(data.html_form);
					}
				}
			});
			return false;
		};
		//Borrar funcion
		$("#tabla_funcion").on("click", ".js-borrar-funcion", loadForm);
		$("#modal-funcion").on("submit", ".js-funcion-borrar-form", saveForm);
	});
</script>
{% endblock %}

{% block content %}
	<a href="{% url 'funciones_crear' %}" class="btn btn-primary btn-sm">Crear Funcion</a>
    <a href="{% url 'home' %}" class="btn btn-primary btn-sm" style="width:99.22px;">Salir</a>

	<table id="tabla_funcion" class="table mb-0 table-bordered">
		<thead>
			<tr>
				<th>Funcion</th>
				<th colspan="4">Descripcion</th>
			</tr>
		</thead>
		<tbody>
			{% for funcion in funciones %}
			<tr>
				<td>{{funcion.nombre}}</td>
				<td>{{funcion.descripcion}}</td>
				<td>{{funcion.get_estado_display}}</td>
				<td><a href="{{funcion.id}}" class="btn btn-info btn-sm">Ponderizar</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="modal fade" id="modal-funcion">
		<div class="modal-dialog">
			<div class="modal-content">
			</div>
		</div>
	</div>
{% endblock content %}