{% extends "base.html" %}

{% load widget_tweaks %}

{% block titulo %}
Crear funcion
{% endblock titulo %}

{% block breadcrumb %}
<ol class="breadcrumb my-4 bg-dark">
		<li class="breadcrumb-item"><a href="{% url 'funciones_list' %}">Funciones</a></li>
	</ol>
{% endblock %}

{% block content %}
    <div>
	<form method="post" novalidate>
		{% csrf_token %}
		<button type='submit' class='btn btn-primary btn-sm btn-start text-center' style="width:99px;">Crear</button>
		<button type='button' class='btn btn-primary btn-sm btn-skip text-center' style="width:99px;" onclick="location.href='{% url 'funciones_list' %}';">Salir</button>
	<hr style="visibility:hidden">
		{% include 'includes/form.html' %}
	</form>
	</div>
{% endblock content %}