{% extends "base.html" %}

{% block titulo %}
Graficos
{% endblock titulo %}

{% block breadcrumb %}
	<ol class="breadcrumb my-4 bg-dark">
			<li class="breadcrumb-item text-white">Graficos</li>
	</ol>
{% endblock %}

{% block content %}
    <button type='button' class='btn btn-primary btn-large btn-skip' onclick="location.href='{% url 'home' %}';" style="width:99px;">Salir</button>
    <br>
    <h1>Graficos</h1>

	<div>
		<dl>
			<dt class="col-sm-3 btn btn-warning"><a href="graficos/campañas"><b>Ponderacion Campañas</b></a></dt>
			<dd class="col-sm-9 align-middle">Grafico de barra horizontal mostrando el promedio de la ponderacion de los audios por campaña.</dd>
			<dt class="col-sm-3 btn btn-warning"><a href="graficos/agentes"><b>Ponderacion Agentes</b></a></dt>
			<dd class="col-sm-9">Grafico de barra horizontal mostrando el promedio de la ponderacion de los audios por agente.</dd>
		</dl>
	</div>
{% endblock content %}