{% extends "base.html" %}

{% block titulo %}
Inicio	
{% endblock titulo %}

{% block content %}
	<div class="jumbotron mt-0">
	  <h1 class="display-4">Biometría ProvinciaNet</h1>
	  <p class="lead"></p>
	  <hr class="my-4">
	  <p>Herramienta para control y auditoria interna.</p>
	  <a class="btn btn-primary btn-lg" href='{% url 'funciones' %}' role="button">Funciones</a>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h2>Como usarlo?</h2>
				<p><a href="#" class="btn btn-outline-primary" role="button">Ver más</a></p>
			</div>
			<div class="col-sm-4">
				<h2>Por qué usarlo?</h2>
				<p><a href="#" class="btn btn-outline-primary" role="button">Ver más</a></p>
			</div>
			<div class="col-sm-4">
				<h2>Soporte Técnico</h2>
				<p><a href="#" class="btn btn-outline-primary" role="button">Ver más</a></p>
			</div>
		</div>
	</div>

	
{% endblock content %}