{% extends "base.html" %}

{% block titulo %}
Transcripcion
{% endblock titulo %}

{% block breadcrumb %}
	<ol class="breadcrumb my-4 bg-dark">
		<li class="breadcrumb-item"><a href="{% url 'reportes' %}"><u>Reportes</u></a></li>
		<li class="breadcrumb-item text-white">{{reporte.fk_audio.idInteraccion}}</li>
	</ol>
{% endblock %}

{% block content %}
	<style type='text/css'>
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
		}
		ul li{
			display:inline-block;
			clear: both;
			padding: 20px;
			border-radius: 30px;
			margin-bottom: 2px;
			font-family: Helvetica, Arial, sans-serif;
		}
		.operador{
			background: #eee;
			float: left;
		}
		.cliente{
			float: right;
			 background: #0084ff;
			color: #fff;
		}
		
	</style>
    <a href="{% url 'reportes' %}" class="btn btn-primary">Salir</a>
	<hr>
    <div>
		{% include 'includes/reporte_parcial_detalle.html' %}
	</div>
    <div>
        <hr>
        <h3>Transcripcion</h3>
			<ul>
			    {% if trans %}
                    {% for i in trans %}
						{% if i.1 == "operador" %}
							<li class="operador">{{i.2|safe}}<li>
						{% else %}
							<li class="cliente">{{i.2|safe}}<li>
						{% endif %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <li>N/A</li>
			        </tr>
                {% endif %}
			</ul>
    </div>
{% endblock content %}