{% extends "base.html" %}

{% block titulo %}
Reportes
{% endblock titulo %}

{% block content %}
	<h1>Reportes</h1>
	
	<table class="table mb-0">
		<thead>
			<tr>
				<th>Archivo</th>
				<th>Agente</th>
				<th>Funciones</th>
				<th>Ponderacion</th>
			</tr>
		</thead>
		<tbody>
			{% for reporte in reportes %}
			<tr>
				<td>{{reporte.fk_audio}}</td>
				<td>{{reporte.fk_audio.agente.nombre}}</td>
				<td >{{reporte.fk_funcion}}</td>
				<td align="center">{{reporte.analisis}} %</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock content %}