{% extends "base.html" %}

{% block titulo %}
Reportes
{% endblock titulo %}
{% block javascript %}
<script>
	$(function () {
		$(document).ready(function() {
			$('#id_tabla').DataTable();
		});
		
		$('.expandir').click(function() {
			var $elemento = $(this);
			var $registro = $(this).closest('tr');
			
			if ($elemento.hasClass("mostrar")){
				$elemento.removeClass('mostrar');
				$registro.next().remove();
			}
			else {
				$.ajax({
					url: '/ajax/reportes/detalleAnalisis/'+ this.innerHTML ,
					dataType: 'json',
					success: function (data) {
						console.log(data);
						$registro.after(data.html_funcion);
						$elemento.addClass("mostrar")
					}
				});
			}
		});
	})
</script>
{% endblock javascript %}
{% block content %}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<h1>Reportes</h1>
	<div>
	<table id="id_tabla" class="table table-striped table-bordered" style="width:100%">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Fecha</th>
				<th>Agente</th>
				<th>Ponderacion</th>
				<th>Transcripción</th>
				<th>Reproducir</th>
			</tr>
		</thead>
		<tbody>
			{% for campaña_fa in campañas %}
			<tr>
				<td class="expandir" id='id_audio'>{{campaña_fa.audio}}</td>
				<td>{{campaña_fa.fecha}}</td>
				<td>{{campaña_fa.nombreAgente}}</td>
				<td style="text-align:center">{{campaña_fa.analisis}} %</td>
				<td><a href="{{campaña_fa.fk_audio.id}}" class="btn btn-info btn-sm">Transcripción a Texto</a></td>
				<td><a href="play/{{campaña_fa.fk_audio.id}}" class="btn btn-success btn-sm" target="_blank">Abrir Archivo</a></td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="7" class="text-center bg-warning">Sin analisis</td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th>Nombre</th>
				<th>Fecha</th>
				<th>Agente</th>
				<th>Ponderacion</th>
				<th>Transcripción</th>
				<th>Reproducir</th>
			</tr>
		</tfoot>
	</table>
	</div>
	<a href="javascript:history.go(-1)" class="btn btn-default">Cancel</a>
{% endblock content %}