{% extends "base.html" %}

{% block titulo %}
Transcripcion
{% endblock titulo %}

{% block breadcrumb %}
	<ol class="breadcrumb my-4 bg-dark">
		<li class="breadcrumb-item"><a href="{% url 'campañas' %}">Campañas</a></li>
		<li class="breadcrumb-item"><a href="/campañas/{{campaña.pk}}">{{campaña.nombre}}</a></li>
		<li class="breadcrumb-item"><a href="/campañas/{{campaña.pk}}/{{campaña_funcion.id}}">{{campaña_funcion.created}}</a></li>
		<li class="breadcrumb-item active">{{audio.idInteraccion}} - Transcripcion</li>
	</ol>
{% endblock %}

{% block content %}
	<table class="table mb-0">
		<thead>
			<tr>
				<th style="width: 50%">Canal 1 / Operador</th>
				<th style="width: 50%">Canal 2 / Cliente</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{audio.canal_1}}</td>
				<td>{{audio.canal_2}}</td>
			</tr>
		</tbody>
	</table>
	<button type='button' class='btn btn-primary btn-large btn-skip text-right' onclick="window.history.back()">Cancelar</button>
{% endblock content %}