{% for funcion in funciones %}
	<tr>
		<td>{{funcion.nombre}}</td>
		<td>{{funcion.descripcion}}</td>
		<td>{{funcion.get_estado_display}}</td>
		<td><a href="{{funcion.id}}" class="btn btn-info btn-sm">Detalle</a></td>
		<td>
			<button type="button"
				class="btn btn-danger btn-sm js-borrar-funcion"
				data-url="/ajax/borrar_funcion/{{funcion.id}}">
				<span class="glyphicon glyphicon-trash"></span>Borrar
			</button>
		</td>
	</tr>
{% empty %}
	<tr>
		<td colspan="7" class="text-center bg-warning">Sin palabras</td>
	</tr>
{% endfor %}