<div id="id_funcionDetalle">
	<table class="table mb-0 table-bordered" style="border: thick solid">
	    <tr>
            <td style="width:25%;" class="font-weight-bold">Nombre de la funcion</td>
	        <td >{{funcion.nombre}}</td>
	    </tr>
        <tr>
            <td class="font-weight-bold">Descripcion de la funcion</td>
	        <td >{{funcion.descripcion}}</td>
	    </tr>
        <tr>
            <td class="font-weight-bold">Ponderacion</td>
	        <td class="font-weight-bold" id="id_ponderacion" >{{funcion.ponderacion}}%</td>
	    </tr>
    <dt class="col-sm-3" style="display:none;">Estado</dt>
	<dd class="col-sm-9" id="id_estado" style="display:none;">{{funcion.get_estado_display}}</dd>
	</table>
</div>