{% for palabra in palabras %}
<tr>
	<td>{{ palabra.palabra }}</td>
	<td style="text-align:right">{{ palabra.porcentaje }}% &nbsp 
		<button type="button"
				class="btn btn-warning btn-sm js-update-palabra"
				data-url='/ajax/editar_palabra/{{funcion.id}}/{{palabra.id}}'>
		<span class="glyphicon glyphicon-pencil"></span> Edit
		</button>
		<button type="button"
			class="btn btn-danger btn-sm js-borrar-palabra"
			data-url="/ajax/borrar_palabra/{{funcion.id}}/{{palabra.id}}">
			<span class="glyphicon glyphicon-trash"></span>Borrar
		</button>
	</td>
</tr>
{% empty %}
	<tr>
		<td colspan="7" class="text-center bg-warning">Sin palabras</td>
	</tr>
{% endfor %}