<div id="id_funcionDetalle">
	<h3>Funcion</h3>
	<table class="table mb-0 table-bordered" style="border: thick solid">
	    <tr>
            <td style="width:25%;" class="font-weight-bold">Nombre de la funcion</td>
	        <td >{{reporte.fk_funcion.nombre}}</td>
	    </tr>
        <tr>
            <td class="font-weight-bold">Descripcion de la funcion</td>
	        <td >{{reporte.fk_funcion.descripcion}}</td>
	    </tr>
        <tr>
            <td class="font-weight-bold">Ponderacion</td>
	        <td class="font-weight-bold" id="id_ponderacion" >{{reporte.ponderacion}}%</td>
	    </tr>
    </table>
</div>
<hr>
<div>
	<h3>Palabras</h3>

<table class="table table-bordered" >
	<thead>
		<tr>
			<th style="width: 84%">Palabra</th>
			<th>Valor</th>
		</tr>
	</thead>
	<tbody>
		{% for palabra in palabras %}
		<tr>
			<td>{{palabra.palabra}}</td>
			<td>{{palabra.porcentaje}} %</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
	
</div>